.text-primary{
    color: var(--sky-blue);
    font-weight: 600;
    font-size: 14px;
}

#courses{
    padding: 5rem 0;
}

.section-header h2{
    font-size: 35px;
    margin: 15px 0;
    color: var(--dark-blue);
}

.section-header p{
    color: var(--light-gray);
}

/* style course */

.text-secondary{
    color: var(--green);
    font-weight: 600;
    font-size: 14px;
}

#courses .courses-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    margin-top: 4rem;
}

#courses .courses-container .course img{
    width: 100%;
    height: 33%;
}

#courses .courses-container .course{
    position: relative;
}

#courses .courses-container .course .sale{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 8px;
    background-color: var( --red );
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
}

#courses .courses-container .course .content{
    padding: 15px;
    font-size: 15px;
    color: var(--light-gray);
}

#courses .courses-container .course .content .course-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#courses .courses-container .course .content .course-field .department{
    color: var(--sky-blue);
    font-weight: 600;
}

#courses .courses-container .course .content .course-field .rating{
    background-color: var(--dark-blue);
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}

#courses .courses-container .course .content .course-field .rating svg{
    color: var(--yellow);
}

#courses .courses-container .course .content h3{
    margin: 10px 0;
    color: var(--dark-blue);
}

#courses .courses-container .course .content .sales{
    margin: 10px 0;
    font-weight: 600;
}

#courses .courses-container .course .content .price del{
    margin-right: 10px;
    font-weight: 600;
}

#courses .courses-container .course .content .course-info{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

#courses .courses-container .course .content .course-info p{
    margin-right: 10px;
}

#courses .courses-container .course .content .course-info p svg{
    color: var(--sky-blue);
    font-size: 20px;
    vertical-align: middle;
    margin-right:3px ;
}

#courses .courses-container .course .content .btn-learn{
    padding: 12px 20px;
    border: 1px solid var(--sky-blue);
    color: var(--sky-blue);
    border-radius: 25px;
    font-weight: 500;
    display: inline-block;
}