#reviews{
    padding-bottom:7rem ;
}

#reviews .ratings{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12rem;
    margin-top: 5rem;
}


#reviews .ratings .rating img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

#reviews .ratings .rating .stars{
    color: var(--yellow);
    text-align: center;
    display: block;
    font-size: 20px;
}

#reviews .ratings .rating .description{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: var(--light-gray);
}

#reviews .ratings .rating .person{
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-weight: 500;
}
